body {
	background-color: #F6E8E5;
	padding: 40px;
}


h1 {
	font-family: Poiret One;
	font-size: 80px;
}

img {
	display: block;
    margin-right: auto;
    margin-left: auto;

   
}

h2 {
	font-family: poiret one;
	text-align: center;
	margin-top: 40px;

}


h3 {
	font-family: poiret one;
	text-align: center;
	padding-bottom: 50px;
}

div {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}

h4 {
	font-family: poiret one;
	font-size: 25px;
	padding-top: 0px;
}

p {font-family: raleway;
	padding-top: 30px;

}

pre {
	font-size: 20px;
	}

form {
	align: margin-right;
    border: none;
    color: #ff0066;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}