h1 {
	font-family:lobster;
}

ul {
	font-family:raleway;
	align: center;
}

img 

h2 {
	font-family:lobster;
	text-align: center;

}

h3 {
	font-family:raleway;
	text-align: center;
}

h4 {font-family:lobster;
}

p {font-family: raleway;
}