

#header {
	background-color: black;
	height: 175px;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: yellow;
	font-family: 'Raleway';
}

	#startup {
		color: yellow;
		padding: 18px;
		clear: right;
	}

	#top-nav {
		color: white;
		font-size: 10px;
		background-color: black;
		float: right;
		}

		.nav-item {
			float: right;
			padding: 10px;
		}
		

	#tagline {
		background-color: grey;
		padding: 15px;
		margin: 0;
		text-align: center;
		font-family: 'Raleway';
		font-size: 25px;
		text-decoration: italic;
	}
		
		#tagline span {
			text-decoration: underline;
			text-decoration-color: yellow;
		}

	#photo-box {
		background-image: url(images/coworking.jpg)
	
		
	}

		#transparent-box {
			background-color: grey;
			opacity: 0.8;
			width: 33%;
			font-family: 'raleway';
			border-style: solid;
			border-color: black;
			margin: 35px;
			padding-bottom: 15px;
			float: right;
		}

			#transparent-box h1 {
				padding-left: 15px;
				padding-right: 15px;
			}

			#transparent-box p {
				padding-left: 15px;
				padding-right: 15px;
			}

			#transparent-box h2 {
				background-color: yellow;
				text-align: center;
				width: 75%;
				padding: 10px;
				margin: 0 auto;
			}












		

		
	