body {
	font-family: 'Open Sans';
}

#header {
  background-color: #033048;
}
	#relaxr {
		color: white;
		float: left;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 25px;
		padding-left: 40px;
		font-size: 24px;
		font-weight: bolder;
		}

	#About {
		color: #f9e42e;
		float: right;
		padding: 25px;
		font-size: 24px;
	}

	#FAQ {
		color: #f9e42e;
		float: right;
		padding: 25px;
		font-size: 24px;
	}

	#Team {
		color: #f9e42e;
		float: right;
		padding: 25px;
		font-size: 24px;
	}

	#ContactUs {
		color: #f9e42e;
		float: right;
		padding: 25px;
		font-size: 24px;
	}

	#Blog {
		color: #f9e42e;
		float: right;
		padding: 25px;
		font-size: 24px;
	}


________________________

#grey-box {
	font-family: 'Open Sans';
	background-color: #f0efef;
}

	#content {
		float: left;
		width: 700px;
	}
	
		#content h1 {
			font-size: 40px;
			font-weight: 400;
			padding-top: 25px;
			padding-left: 40px;
			padding-bottom: 10px;
		}

		#content p {
			font-size: 24px;
			font-weight: 200;
			padding-left: 40px;
			padding-bottom: 35px;
		}

		#content img {
			padding-left: 40px;
			padding-bottom: 10px;
		}

		#content h2 {
			padding-left: 40px;
			float: right;
			padding-bottom: 35px;
		}

	#sidebar {
		float: right;
		width: 240px;
		font-family: 'Open Sans';
		color: #033048;
	}

		#categories h1 {
			font-size: 32px;
			font-weight: bolder;
			padding-bottom: 8px;
		}

		#categories ul {
			padding: 15px;
			margin-bottom: 20px;
		}

		#AboutRelaxr {
			padding-bottom: 15px;
		}

		#AboutRelaxr h1 {
			font-size: 32px;
			font-weight: bolder;
			padding-bottom: 8px;
		}

		#AboutRelaxr h2 {
			font-weight: bold; 
			padding-top: 5px;
		}

		#AdUnit {
			background-color: white;
			padding: 10px;
			padding-bottom: 500px;
			text-align: center;
			font-size: 32px;
			border-style: solid;
			border-width: 5px;
		}


____________________________

#yellow-bar {
	background-color: #f9e42e;
	}

	#signup {
		background-color: #033048;
		font-color: white;
		margin: 0 auto;

	}
	
	

}


